<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration"/>
	</configSections>
	<unity>
		<aliases>
			<add alias="IClass" type="UnityIocStudy.DemoTest.IClass,UnityIocStudy.DemoTest" />
			<add alias="CbClass" type="UnityIocStudy.DemoTest.CbClass,UnityIocStudy.DemoTest" />
			<add alias="EcClass" type="UnityIocStudy.DemoTest.EcClass,UnityIocStudy.DemoTest" />
		</aliases>

		<container name="FirstClass">
			<register type="IClass"  mapTo="CbClass"></register>
			<register type="IClass" name="ec" mapTo="EcClass"></register>
		</container>
	</unity>
</configuration>