<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<services>
			<service name="WcfHelloDemo.Service.Hello" behaviorConfiguration="serviceMetaData">
				<endpoint address="net.tcp://localhost:8001/hello" binding="netTcpBinding" contract="WcfHelloDemo.Contract.IHello">
				</endpoint>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="serviceMetaData">
					<serviceDebug includeExceptionDetailInFaults="True"/>
					<serviceMetadata httpGetEnabled="True" httpGetUrl="http://localhost:8000/hello/metadata"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>