<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="msmqPath" value="net.msmq://localhost/private/orderresponse"/>
	</appSettings>
	<system.serviceModel>
		<bindings>
			<netMsmqBinding>
				<binding name="MsmqBinding" exactlyOnce="false" useActiveDirectory="false">
					<security>
						<transport msmqAuthenticationMode="None" msmqProtectionLevel="None" />
					</security>
				</binding>
			</netMsmqBinding>
		</bindings>
		<client>
			<endpoint address="net.msmq://192.168.1.103/private/orderprocessor" binding="netMsmqBinding"
				  bindingConfiguration="MsmqBinding" contract="ResponsibleService.Contract.IOrderProcesser" name="defaultEndpoint" />
		</client>
	</system.serviceModel>
</configuration>